---
interface Props {
  title: string;
  description?: string;
  lang?: "fr" | "en";
  url?: string;
  ogImage?: string;
  t?: (k: string) => string;
}
const {
  title,
  description = "Software Developer",
  lang = "en",
  url = "/",
  ogImage = "/favicon.png",
  t,
} = Astro.props;

import "../styles/global.css";
import CustomCursor from "../components/CustomCursor.astro";
import CookieBanner from "../components/CookieBanner.astro";

---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Mélissa Mangione Portfolio" />

    <title>{title}</title>
  </head>
  <body class="bg-[--background] sm:px-28 lg:px-20 px-9">
    <CustomCursor />
    <slot />
    {t && <CookieBanner {lang} {t} />}
    <script>
      import { inject } from "@vercel/analytics";
      import Lenis from "lenis";
      inject();
      const lenis = new Lenis({
        duration: 1.1,
        easing: (t) => 1 - Math.pow(1 - t, 3),
        smoothWheel: true
      });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);
    </script>
  </body>
</html>
